:root {
  --bg: #0f172a;
  --text: #ffffff;
  --card: rgba(255,255,255,0.1);
}

.light {
  --bg: #ffffff;
  --text: #000;
  --card: rgba(0,0,0,0.05);
}

body {
  margin: 0;
  font-family: 'Segoe UI';
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* NAVBAR */
header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--text);
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero span {
  color: #38bdf8;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 40px;
  border-radius: 15px;
  background: var(--card);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* CONTACT */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}